@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.App {
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  letter-spacing: 2px;
}

h3{
  font-weight: 100;
  letter-spacing: 2px;
}

.navbar-brand{
  font-family: 'Karla', sans-serif;
}

.about-container{
  background-color: black;
  padding-top: 150px;
  height: 600px;
}

.about-row{
  color: #030e12;
  background-color: #5bccf6;
  height: 200px;
}

.content{
  color: #030e12;
  background-color: #fcde67;
  height: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.para{
  font-size: 3.5vmin;
}

.projects{
  background: linear-gradient(to bottom right, rgba(0,0,0, 0.9), rgba(36,11,54, 0.8), rgba(195,20,50,0.9)), url("https://wallpapercave.com/wp/8848ami.jpg") center no-repeat;
}